//パネル
.p-section-products{
  width: $site-width;
  height: 480px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  @include sumaho(){
    width: 100%;
    height: 100%;
  }
  @include ipad(){
    width: 100%;
    height: 100%;
  }
}
.c-panel{
  width: 30%;
  height: 400px;
  overflow: hidden;
  @include sumaho(){
    width: 100%;
    height: 500px;
    margin-bottom: $space_xl;
  }
  @include ipad(){
    height: auto;
  }
&-title{
  text-align: left;
  border-left: solid 10px #4ac39f;
  padding-left: $space_m;
  @include sumaho(){
    margin-left: 38px;
  }
}
  &-text{
    @include sumaho(){
      width: 300px;
      margin: auto;
    }
  }
}