//下の丸ボタン
#PageTopBtn {
  position: fixed; /*ボタンの配置場所を固定*/
  bottom: 30px; /*下からのボタンの配置場所を指定*/
  right: 50px; /*右からのボタンの配置場所を指定*/
}
#PageTopBtn a {
  display: block; /*配置の調整*/
  text-decoration: none; /*文字の下線を消す*/
  color: #fff; /*文字の色*/
  background: #90ee90; /*ボタンの背景色*/
  text-align: center; /*文字を中央に配置*/
  border-radius: 50%; /*ボタンの角を少し丸くする*/
  outline: none; /*クリックしたときの黒い枠を消す*/
}
#PageTopBtn a:hover {
  text-decoration: none;
  background: #228b22; /*マウスオーバー時の背景色*/
}

/*パソコンで表示する場合のCSS*/
@media (min-width: 768px) {
  #PageTopBtn {
    font-size: 25px; /*文字のサイズ*/
  }
  #PageTopBtn a {
    width: 50px; /*ボタンの幅*/
    height: 50px; /*ボタンの高さ*/
    padding: 5px 0; /*文字の配置場所の調整*/
  }
}

/*スマホで表示する場合のCSS*/
@media (max-width: 767px) {
  #PageTopBtn {
    font-size: 20px;
  }
  #PageTopBtn a {
    width: 50px;
    height: 50px;
    padding: 8px 0;
  }
}