//backgrounfimg
.u-section-images{
  background-image: url("../images/motor-tt768750_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}